.contact-bar {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(15, 15, 15, 0.3); /* Semi-transparent dark */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Subtle border */
  }
  
  .contact-content {
    box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 80px; /* Adjust as needed */
  }
  
  .socials {
    display: flex;
    gap: 10px;
    margin-left: 20px;
  }
  
  .icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: white;
    transition: fill 1s ease-in-out;
  }
  
  .icon:hover {
    fill: #00ff9d;
  }
  
  .resume-button {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-left: 1rem;
  }
  
  .resume {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: bold;
    font-size: 1.2rem;
    color: #00ff9d;
    border: 2px solid #00ff9d;
    padding: 10px 20px;
    margin-left: 30px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.4s ease-in;
  }
  
  .resume:hover {
    background-color: #00ff9d;
    color: rgba(0, 0, 0, 0.444);
  }