.main-page{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: fixed;
    width: calc(100vw-80px);
    height: 100%;
    left:80px;
    right:0px;
    top:0;
    background-color: rgb(40, 36, 36);
}


@media (max-width: 768px) {
    .main-page{
        width: calc(100vw-60px);
        left:60px;
    }
}