.main-page{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: fixed;
    width: calc(100vw-80px);
    left:80px;
    right:0px;
    top:0;
    background-color: linear-gradient(135deg, #1a1a2e, #16213e);
    width: calc(100vw-80px);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}


@media (max-width: 768px) {
    .main-page{
        width: calc(100vw-40px);
        left:40px;
    }
}