html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;   
  }

body{
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1a1a2e, #16213e);
  }

.app {
  font-family: Arial, sans-serif;
  min-width: 100vw;
  min-height: 100vh;
}

